@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");

input[type="password"]::-ms-reveal
.login-container {
	background-image: url("./bg0.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}
.login-image-darken {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.6);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.login-logo-container {
	width: 40%;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 3px;
}
.login-logo-img {
	width: 15%;
}
.login-logo-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 35%;
	gap: 2px;
}
.login-logo-institute {
	width: 60%;
}
.login-logo-fest {
	width: 100%;
}
.login-form-container {
	height: 100%;
	width: 50%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.login-form-body {
	/* background-color: white; */
	background: linear-gradient(154.74deg, #FF0000 -154.97%, #000000e3 36.33%);
	margin-top: 5vh;
	height: 85%;
	width: 75%;
	border-radius: 5%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.login-form-content {
	width: 90%;
	height: 90%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 10px;
	overflow-y: auto;
	overflow-x: hidden; 
}
.login-form-content::-webkit-scrollbar
{
	display: none;
}
.login-form-title {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 700;
	font-size: 1.7rem;
	line-height: 2rem;
	letter-spacing: 0.02em;
	color: white;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
}
.login-form-signup {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	gap: 5px;
}
.login-form-signup-que {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 600;
	font-size: 1rem;
	line-height: 1.2rem;
	color: rgba(255, 255, 255, 0.7);
}
.login-form-signup-link {
	text-decoration: none;
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 600;
	font-size: 1rem;
	line-height: 1.2rem;
	color: white;
	/* color: #1a68ff; */
}
.login-form-inputs {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
}
.login-form-input-grp {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	gap: 4px;
	width: 100%;
	margin-bottom: 15px;
}
.login-form-text-label {
	padding-left: 5px;
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 600;
	font-size: 0.75rem;
	line-height: 1rem;
	letter-spacing: 0.02em;
	color: rgba(255, 255, 255, 0.7);
}
.login-form-text-inputs {
	outline: none;
	border: none;
	height: 2.2rem;
	border-radius: 2.5px;
	width: 100%;
	font-size: 1rem;
	border-bottom: 1px solid rgba(81, 89, 101, 0.8);
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-end;
	padding-left: 5px;
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
}
.login-form-text-inputs:focus {
	border-bottom: 1px solid #1968ff;
}
.login-form-side-options {
	margin-top: 10px;
	display: flex;
	width: 100%;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.login-form-side-options-check {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 5px;
}
.login-form-checkbox {
	color: #1968ff;
	color: #aff047;
}
.login-form-checkbox-label {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	font-size: 0.75rem;
	line-height: 0.8rem;
	letter-spacing: 0.02rem;
	color: #747980;
}
.login-form-forgot-pass {
	text-decoration: none;
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	font-size: 0.75rem;
	line-height: 0.8rem;
	color: #1968ff;
	opacity: 0.7;
	color: rgba(255, 255, 255, 0.7);
	cursor: pointer;
}
.login-form-submit-btn {
	margin-top: 10px;
	background: #1968ff;
	background: #aff047;
	border-radius: 6px;
	border-color: #1968ff;
	border: none;
	border-color: #acee41;
	width: 90%;
	padding: 3%;
	font-family: "Open Sans";
	/* font-family: 'wity'; */
	font-style: normal;
	font-weight: 800;
	font-size: 1.3rem;
	line-height: 1.2rem;
	letter-spacing: 0.04em;
	color: #ffffff;
	color: #000000;
	cursor: pointer;
	align-self: center;
}
.login-form-seprator {
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.login-form-seprator-line {
	background-color: #aaaaaa;
	height: 1px;
	width: 50%;
}
.login-form-seprator-text {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-family: "Roboto";
	font-size: 0.8rem;
	color: #aaaaaa;
}
.login-social-icons-row {
	width: 100%;
	height: 5%;
	margin-top: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
}
.login-social-icon-container {
	background: #ffffff;
	box-shadow: 0px 1.8232px 7.29282px rgba(0, 0, 0, 0.12);
	border-radius: 100%;
	padding: 5px;
	height: 40px;
	width: 40px;
	cursor: pointer;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.login-social-icons {
	height: calc(100% - 10px);
	width: calc(100% - 10px);
}

.login-form-step-counter {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	font-size: 0.75rem;
	line-height: 0.8rem;
	color: #000000;
}
.login-form-sub-title {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 600;
	font-size: 1rem;
	line-height: 1.2rem;
	letter-spacing: 0.02em;
	color: #000000;
}
.login-form-comments {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	font-size: 0.75rem;
	line-height: 0.8rem;
	margin-bottom: 10px;
	color: rgba(0, 0, 0, 0.6);
}
.login-form-otp-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
}
.login-form-otp-cell {
	border: none;
	outline: none;
	width: 12%;
	height: 3rem;
	border-bottom: 1px solid #a2a2a6;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 800;
	border-radius: 10px;
	font-size: 1.3rem;
	max-width: 50px;
}
.login-form-otp-resend {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	width: 100%;
	margin-top: 10px;
	gap: 10px;
}
.login-form-otp-resend-que {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	font-size: 0.75rem;
	line-height: 0.8rem;
	color: #747980;
}
.login-form-otp-resend-link {
	text-decoration: none;
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	font-size: 0.75rem;
	line-height: 0.8rem;
	color: #1968ff;
		color: #9ce624;
}
.login-form-bio {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 20px;
}
.login-form-timer
{
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	font-size: 0.8rem;
}


@media screen and (max-width: 700px) {
 
	.login-image-darken
	{
		display: flex;
		flex-direction: column;
	}
	.login-logo-container
	{
		height: 15%;
		border-radius: 21px;
		display: none;
	}
	.login-logo-container>img{
		width: 40%;
	}
	.login-logo-text
	{
	 display: none;
		}
		.login-form-body
		{
			margin-top: 5vh;
			width: 100%;
			border-radius: 21px;
			min-height: 75%;
			/* max-height: 80%; */
		}
		.login-form-container
		{
			width: 93%;
			border-radius: 21px;
		}
}