.desktop27-main{
    font-family: 'Montserrat';
    font-style: normal;
    line-height: 29px;
    letter-spacing: 0.02em;
    margin: auto;
    /* padding: 3rem; */
    
    color: #000000;

    /* justify-content: flex-start; */
    }
    .desktop27-head{
        margin: 30px;
        font-weight: 700;
        font-size: 1.5rem;
        align-self: flex-start;
    }
    .desktop27-tabChangebtn{
        height: 30px;
        font-style: normal;
        font-weight: 500;
        /* font-size: 18px; */
        line-height: 22px;
        /* identical to box height */
        
        letter-spacing: 0.02em;
        align-self: flex-start;
        margin: 30px 0px 0px 20px;
        
        /* color: rgba(0, 0, 1, 0); */
        }
        .desktop27-btn{
            height: 100%;
            /* width: 130px; */
            border: none;
            background:transparent;
            margin: 0px 30px;
            font-size: 18px;
            font-weight: 500;
            color: rgba(0, 0, 0, 0.8);
        
            
        }
        .desktop27-border{
            width: 100%;
        border-bottom:1px solid rgba(0, 0, 0, 0.2); 
        margin-bottom: 10px;}

        .passDetailCard-img{
            border-radius: 8px;
            box-shadow: 0px 4.38349px 15.3422px rgba(0, 0, 0, 0.55);
            margin: 30px;
            }
            .passDetailCard-p{
                font-style: normal;
font-weight: 400;
font-size: 16px;
margin: 20px;
            }
.desktop27-passDetail{
    width: 80%;
    text-align: justify;
}
.desktop27-userDetail{
    width: 100%;
    text-align: justify;
}
.usertable
{
    width: 100%;
    margin: 0;
}

.creatPass-upload
{
    background-color: indigo;
    color: white;
    padding: 0.5rem;
    font-family: sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 1rem;
    width: fit-content;
    margin: 10px auto;
}

.createPass
{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 15px auto;

}
.createPass-img
{
    width: 80%;
    max-width: 1000px;
    object-fit: contain;
    margin: auto;
}
.createPass-amount
{
  
        border: none;
        border-bottom: 2px solid indigo;
        width: 160px;
        padding: 6px 3px;
        text-align: center;
        font-size: 1.2rem;
        margin: 10px auto;
}
.createPass-amount:focus
{
    border: none;
    border-bottom: 2px solid rgb(148, 2, 252);

}
.createPass-details
{
    width: 90%;
    min-height: 100px;
    max-lines: 40;
    height: 160px;
    padding: 10px;
    margin: 20px auto;
}
.events-list
{
    display: flex;
    width: 100%;
    justify-content: center;
}
.events-list-item
{
    display: flex;
    flex-direction: column;
    padding: 10px;
   
   
}
.checkbox-pass
{
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 10px 0px;
}
.add_event-title
{
    font-family: 'Montserrat';
    margin: 30px;
    font-weight: 700;
    font-size: 1.2rem;
    align-self: flex-start;
    /* padding: 3rem; */
    margin: 10px 20px;
    color: #000000;
    display: flex;
}
.createPass-details
{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin: 20px;
}

.passDetailCard-main
{
    width: 80%;
    margin: auto;
}