@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

.about-page {
	display: flex;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	background: linear-gradient(114.65deg, #532800 9.51%, #e1b981 83.88%);
	position: relative;
}
.about-page-background-img {
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	/* height: 100vh;
	width: 100vw; */
	z-index: 0;
	/* background-image: url("../images/about/PyramidBack.png"); */
	/* background-position: center;
	background-repeat: no-repeat;
	background-size: cover; */
	/* opacity: 0; */
	/* -webkit-animation: abtImg 1.6s ease-in-out;
	-webkit-animation-fill-mode: forwards; */
}
.about-page-background-img-anim
{
	opacity: 0; 
	-webkit-animation: abtImg 1.6s ease-in-out;
	-webkit-animation-fill-mode: forwards; 
}
.about-page-background-img>img {
	position: relative;
	
}
@keyframes abtImg {
   
    0% {
        opacity: 1; 
         transform: translateY(80%) scale(1.2);
      
    }

    100% {
        opacity: 1;
         transform: translateY(0%) scale(1);
         
    }
}
.about-page-side-rectangle {
	position: absolute;
	width: 50vw;
	height: 70vh;
	right: -25vw;
	top: -25vh;
	transform: rotate(-45deg);
	background: #291400;
	filter: blur(200px);
	border-radius: 100%;
}
.about-page-center-rectangle {
	position: absolute;
	width: 25vw;
	height: 35vh;
	left: 46.5vw;
	top: 23vh;
	border-radius: 100%;
	filter: blur(125px);
	background: #ffc978;
}

.about-page-bg-overlay {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100vh;
	width: 100vw;
	z-index: 2;
	background-color: rgba(0, 0, 0, 0.56);
}
.about-page-content {
	position: absolute;
	z-index: 2;
	top: 0px;
	left: 0px;
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}

@keyframes abtText {
	0%{
		opacity: 0.1;
		transform: translateX(-120%);
	}
	
	100%{
		opacity: 1;
		transform: translateX(0%);
	}
	
}

.about-page-content-text {
	width: 40%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	margin-left: 4%;
	gap: 20px;
	opacity: 0;
	-webkit-animation: abtText 1.6s ease-in-out;
	-webkit-animation-delay: 700ms;
	-webkit-animation-fill-mode: forwards;

}
.about-page--text-head {
	font-family: 'Noto Sans Adlam Unjoined', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 4.5rem;
	line-height: 5.2rem;
	letter-spacing: 0.05em;
	color: #ffffff;
}
.about-page--text-body {
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.2rem;
	letter-spacing: 0.04em;
	color: #ffffff;
	text-align: left;
}
.about-page--text-button {
	background: linear-gradient(92.11deg, #ffa617 2.72%, #fffefc 99.57%);
	border-radius: 5px;
	font-family: "Inter";
	font-style: normal;
	font-weight: 600;
	font-size: 1.2rem;
	line-height: 1.4rem;
	letter-spacing: 0.04em;
	color: #423300;
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	margin-bottom: 20px;
}

.about-page-foreground-img {
	position: absolute;
	height: 100vh;
	width: 100vw;
	z-index: 3;
	top: 0px;
	left: 0px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url("../images/about/PyramidFront.png");
	-webkit-animation: abtImg 1.6s ease-in-out;
	-webkit-animation-fill-mode: forwards;
}

.simple-scroll
{
	position: absolute;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    z-index: 30;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
}


@media (max-width: 1200px) {
	.about-page-foreground-img {
		z-index: 2;
	}
	.about-page-content {
		z-index: 3;
	}
	.about-page-para
    {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .about-page-para>img{
		width: 100%;
		height: 60%;
		object-fit: cover;
        margin-top: auto;
    }
	.about-page
	{
		background:  linear-gradient(180deg, #000000 34.48%, #0F0900 49.24%, #653D00 72.92%, #FFE194 100%);
	}
	.about-page-content-text
	{
		width: 80%;
		margin: auto;
		justify-content: flex-start;
		margin-top: 10vh;
	}
}
