.activity-back
{
    width: 100%;
    height: 100vh; 
    margin: 0;
    position: relative;
    background-color: #4176FE;
    display: flex;
    /* scroll-snap-align: start;
    scroll-snap-stop: always; */
}
.activity-sections
{
    display: flex;
    width: 100%;
    flex: 1;
}
.activity-sec1
{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;


}
.activity-scroll-line
{
    width: 9px;
    height: 50px;
    background: linear-gradient(180deg, #8DEFFF 0%, #FFFFFF 100%);
}
.activity-sec2
{
    width: 50%;
    height: 100%;
    background: linear-gradient(180deg, #3F75FE 0%, #FFDD86 56.25%, #FFFFFF 100%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.activity-sec2>img
{
   
    width: 100%;
   
}
.activity-info-sub
{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 0.8rem;

letter-spacing: 0.04em;
padding:1px 8px;

color: rgba(255, 255, 255, 0.7);

}