/* @import "compass/css3"; */

.circle {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
margin:auto;
border: 100.794px solid #00F0FF;
filter: drop-shadow(0px 0px 13.4393px #00F0FF);
  width: max(100vh,100vw);
  height:  max(100vh,100vw);
  margin: auto;
  border-radius: 100%;
  overflow: hidden;
  z-index: 10;
  -webkit-animation:grow 3s;
  -webkit-animation-fill-mode: forwards;
 

 
  /* span {
  display: block;
  font-size:240px;
  color: #fff;
  height: 300px;
  width: 300px;
  text-align: center;
  padding-top: 24%;
} */
  
}
/* .circle-hide
{
    -webkit-animation: disp 5s 5s;
    animation-delay: 5s;
    animation-fill-mode: forwards;
} */

/*.circle:hover {
  background: #070338;
}
*/
@keyframes disp {
    0%{
        display: block;
    }
    100%
    {
        display: none;
    }
   
    
}


@keyframes grow {
 0% {
   
    opacity: 1;
-webkit-transform: scale( 0 );-moz-transform: scale( 0 );-o-transform: scale( 0 );-ms-transform: scale( 0 );transform: scale( 0 );
  }
  
  99% {
    opacity: 0;
  -webkit-transform: scale( 1 );-moz-transform: scale( 2 );-o-transform: scale( 2 );-ms-transform: scale( 2 );transform: scale( 1.2 );transform:  blur(107.514px);;
  }
  100%{
    opacity: 0;
    -webkit-transform: scale( 0 );

    
  }
  
 
}


.eventsM-back
{
    position: absolute;
    width: 100%;
    top: 0;
    opacity: 0;
    animation: EventM-back 2s ease-in-out;
    animation-fill-mode: forwards;
    /* border-bottom: 80px solid;
    border-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #ffffff 100%) 30; */

}
.eventsM-back-overlay
{
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 30vh;
    height:15vh;
    opacity: 0;
    animation: EventM-back 2s ease-in-out;
    animation-fill-mode: forwards;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}
.eventsM-back>img{
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 40vh;
    max-height: 45vh;
    object-fit: cover;
    opacity: 0;
    animation: EventM-back 2s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes EventM-title {

    0% {
        opacity: 0; 
         transform: translateY(180%);
      
    }

 
    100% {
        opacity: 1; 
         transform: translateY(0%);
         
    }
}
@keyframes EventM-back {

    0% {
        opacity: 0;    
    }

 
    100% {
        opacity: 0.97;      
    }
}

.eventsM-title
{
    /* position: absolute; */
    font-family: 'Noto Sans Adlam Unjoined', sans-serif;
    font-style: normal;
    position: absolute;
    margin: 80px auto;
    font-weight: 300;
    font-size: 6rem;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    opacity: 0;
   
    /* padding: auto 10px;  */
    width: fit-content;
    animation: EventM-title 2s ease-in-out;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    letter-spacing: 0.07em;
    color: #FFFFFF;
    transition: ease-in;

}
.eventsM-category-sec
{
    position: relative;
    /* bottom: 10px; */
    position: absolute;
    top: 45vh;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    width: fit-content;
    width: 90%;
    justify-content: center;
    display: flex;
    /* grid-template-columns: repeat(3, 1fr); */
  /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
     */
    /* grid-auto-rows: auto;
    grid-gap: 1rem; */
    flex-wrap: wrap;
    /* justify-content: flex-start; */
    align-items: center;
    gap: 5%;
    padding: 30px 5px;
    
}

.eventM-catCard
{
    min-width: 300px;
    animation: EventM-cards 2.5s ease-in-out;
    opacity: 0;
    animation-fill-mode: forwards;
    width: 40%;
    height: fit-content;
    border-radius: 13.5848px;;
    max-height: 390px;
    /* aspect-ratio: 1.3; */
    max-width: 400px;
    aspect-ratio: 1.1;
    margin-bottom: 5vh;

    /* margin-left: 7vw; */
    /* background: rgba(255, 255, 255, 0.5) ;
    border-radius: 13.5848px; */
    background-color: rgba(255, 255, 255, 0.2);
    margin-bottom: 30px;
display: flex;
justify-content: center;
align-items: flex-end;

}

.eventM-catCard-img
{
    position: absolute;
    width: 100%;
    /* aspect-ratio: 1.3; */
    max-width: 400px;
    aspect-ratio: 1.1;
    object-fit: cover;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    /* background: #FFFFFF; */
border: 5.7199px solid rgba(255, 255, 255, 0.5);
box-shadow: 0px 0px 17.1597px rgba(255, 255, 255, 0.4);
border-radius: 13.5848px;
}
.eventsM-search{
    position: absolute;
    top: 30%;
    z-index: 10;
    display: flex;
    width: 100vw;
    justify-content: center;
    opacity: 0;
    animation: EventM-Search 2s ease-in-out;
    animation-fill-mode: forwards;
}
.eventsM-search>input{
    min-width: 200px;
    width: 70vw;
    height: 44px;
    border: 1px solid white;
    background: transparent;
    color: white;
    caret-color: white;
    font-size: 1.2rem;
    padding: 2px 10px;
    border-radius: 5px;
}
.eventsM-inp:focus{
    border: 1px solid grey;
}
.eventsM-inp:hover{
    border: 1px solid grey;
}
.eventM-catCard-overlay
{
    background: rgba(255, 255, 255, 0.11);
backdrop-filter: blur(15.7297px);
min-height: 65px;
/* Note: backdrop-filter has minimal browser support */
    width: 90%;
    margin-bottom: 40px;
    /* margin: auto; */
border-radius: 8.57985px;
padding: 10px 5px;
justify-content: flex-start;
display: flex;
}
.eventM-catCard-overlay>img
{
    width: 15%;
    min-width: 50px;
    max-width: 90px;
    aspect-ratio: 1;
   margin:0px 10px;
    background: #9672FF;
border-radius: 2.85995px;
padding: 8px;

}
.catCard-text
{
    display: flex;
    justify-content: center;
flex-direction: column;
margin-left: 10px;
}
.catCard-category
{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 0.9rem;
/* font-size: 8.57985px; */
color: #B9B9B9;
}
.catCard-title
{font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    margin-top: 4px;
    font-size: 1.4rem;
    
    /* identical to box height */
    
    letter-spacing: 0.05em;
    
    color: white;
    
    /* text-fill-color: transparent; */

}


@keyframes EventM-cards {

    0% {
         transform: translateY(180%);
         opacity: 1;
      
    }

 
    100% {
        opacity: 1;
         transform: translateY(0%);
         
    }
}

@keyframes EventM-Search {

    0% {
         
         opacity: 0;
      
    }
    90% {
         
        opacity: 0;
     
   }
 
    100% {
        opacity: 1;
       
         
    }
}


.eventE-card
{
    margin-bottom: 60px;
    animation: EventM-cards 2.5s ease-in-out;
    opacity: 0;
    animation-fill-mode: forwards;
    margin-right: 2vw;
}

.eventE-imgCon
{
    width: 20vw;
    max-width: 300px;
    min-width: 280px;
    padding: 13px;
   background-color: #FF4B4B;
  display: flex;
  justify-content: center;
  align-items: center;
  
    clip-path: polygon(0 10.00px,10.00px 0,calc(100% - 10.00px) 0,100% 10.00px,100% calc(100% - 10.00px),calc(100% - 10.00px) 100%,10.00px 100%,0 calc(100% - 10.00px));

   padding-bottom: 25px;
}
.eventE-imgCon>img{
    /* width: 252px; */
    aspect-ratio: 252/357;
    width:97%;
    /* height: 357px; */
    object-fit: cover;
    clip-path: polygon(0 10.00px,10.00px 0,calc(100% - 10.00px) 0,100% 10.00px,100% calc(100% - 10.00px),calc(100% - 10.00px) 100%,10.00px 100%,0 calc(100% - 10.00px));
}


.eventE-details
{
    width: 20vw;
    min-width: 280px;
    max-width: 300px;
    margin-top: -1px;
    padding: 1.4rem;
    background-color: #FF4B4B;
    clip-path: polygon(0 10.00px,10.00px 0,calc(100% - 10.00px) 0,100% 10.00px,100% calc(100% - 10.00px),calc(100% - 10.00px) 100%,10.00px 100%,0 calc(100% - 10.00px));
    padding-bottom: 25px;
    display: flex;
    font-family: 'Inter';
    border-top: 2px dashed rgba(209, 208, 208, 0.875);
    min-height: 170px;
    align-items: flex-start;
    
 }

 .eventE-left
 {
    width: 50%;
    height: 110px;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    color: #FFFFFF;
    

 }
.eventE-title
{
    width: 100%;
    word-wrap: break-word;
font-style: normal;
font-weight: 900;
font-size: 1rem;
letter-spacing: 0.05em;
margin-bottom: 15px;
}
.eventE-register
{
    margin-top: auto;
    width: 90%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: #FFCE1F;
    border-radius: 15px;
    font-weight: 700;
    color: black;
    font-size: 1.1rem;
    cursor: pointer;
}

.eventE-right
{
    margin-left: 15px;
   width: 50%;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   color: #FFC700;
   
}
.eventE-sub1
{
    margin-bottom: 10px;
}
.eventD-title
{
    margin-bottom: 2vh;
    font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 2.4rem;
color: white;
/* identical to box height */

letter-spacing: 0.05em;
}
.eventD-sec1
{
    width: 55%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
.eventD-con
{
   
    display: flex;
    margin: auto;
    /* width: 90%; */
    padding-bottom: 30px;
    overflow-y: auto;
    margin-top:4vh;
    /* margin-top: 15px; */
}
.eventD-sub
{
    color: #ffc700;
    display: flex;
    display: flex;
    flex-wrap: wrap;

}
.eventD-sub1
{
    margin-bottom: 2vh;
    margin-right: 80px;
}
.eventD-desc
{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.05rem;
    letter-spacing: 0.05em;
    color: rgba(255, 255, 255, 0.9);
    display: flex;
    /* word-break: break-all; */
}
.eventD-sec2
{
    display: flex;
    justify-content: center;
    align-items: center;
   
    width: 45%;
   
}
.eventD-sec2>img{
    max-width: 385px;
    width: 90%;
}
.eventD-reg
{
    max-width: 200px;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 5px;
    background: #95FF42;
border-radius: 5px;
font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 1.1rem;
cursor: pointer;
margin-top: auto;


/* identical to box height */


text-transform: uppercase;

color: #027500;
}
@media (max-width: 700px) {
    .eventsM-title
    {
        font-size: 14vw;
    }
    .eventM-catCard
    {
        margin: auto;
 
    margin-bottom: 20px;
    }
    .circle
    {
        width: min(100vh,100vw);
        height: min(100vh,100vw);
        border: 40.794px solid #00F0FF;
        -webkit-animation:growMob 3s;
        -webkit-animation-fill-mode: forwards;
    }
}

@keyframes growMob {
    0% {
      
       opacity: 1;
   -webkit-transform: scale( 0 );-moz-transform: scale( 0 );-o-transform: scale( 0 );-ms-transform: scale( 0 );transform: scale( 0 );
     }
     
     99% {
       opacity: 0;
     -webkit-transform: scale( 1 );-moz-transform: scale( 2 );-o-transform: scale( 2 );-ms-transform: scale( 2.6 );transform: scale( 2.6 );transform:  blur(107.514px);;
     }
     100%{
       opacity: 0;
       -webkit-transform: scale( 0 );
   
       
     }
     
    
   }
   @media screen and (max-width: 700px) {
    .eventsM-title
    {
        font-size: 10vw;
    }
    .eventD-con{
        flex-direction: column-reverse;
        width: 98%;
    }
    .eventD-sec1
    {
        margin: auto;
        margin-top: 6vh;
        width: 90%;
        align-items: center;
    }
    .eventD-sec2
    {
        width: 95%;

    }
    .eventD-sub1
    {
        margin-right: 5vh;
    }
    .eventD-sub
    {
        margin-top: 3vh;
        flex-direction: column;
        margin-right: auto;
    }
    .eventD-reg
    {
        width: 70%;
    }
}