@font-face {
    font-family: 'HeadLineA';
    src: url('../images/font.ttf');
  }



body{margin:0;padding:0;}
body{
   
    
    width: 100%;
    /* overflow-x: hidden; */
    /* -webkit-overflow-scrolling: touch;  */
    
    /* overflow-y: hidden; */
    /* overflow: hidden; */
    animation: hideScroll 2500ms;
    background: black;
}

body::-webkit-scrollbar{
    display: none;
    width: 0;
}

.home-con
{
    overflow: hidden;
    /**/
        
} 

.landing-main
{

    width: 100%;
    display: flex;
    height: 100vh;
    flex-direction: column;
    overflow: hidden;
     /**/
     position: relative;
}

@keyframes exitAnim {
    0% {
      
        transform: scaleX(1) scaleY(1) translateY(0);

        /* filter: brightness(1); */
      
        border-radius: 0;
        z-index: 100;
    }
    
    90%
    {
        z-index: -2;
    }

    100% 
    {
        /* transform: scaleX(0.26); */
        transform: scaleX(0.23) scaleY(0.34) translateY(-7%);
        z-index: -100;
        /* filter: brightness(0.08); */
        }

}

.low-bright
{
    animation: exitBright 2000ms ease-in-out;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

.newNavbar
{
    width: 100%;
    margin: 2px auto;
}

@keyframes exitBright {
    0% {
      
      
        filter: brightness(1);
        border-radius: 0px;
        
    }

    100% 
    {
        /* transform: scaleX(0.26); */
        filter: brightness(0.08);
        border-radius: 25%;
      
    }

}

@keyframes radiusBorder {
    0% {
      
        filter: brightness(1);
        border-radius: 0;
      
    }

    100% 
    {
        /* transform: scaleX(0.26); */
       border-radius: 5%;
       z-index: -5;
       filter: brightness(0.08);
    }

}

@keyframes exitHide {
    0% {
      
      
        filter: brightness(1);
      
    }

    100% 
    {
        /* transform: scaleX(0.26); */
        filter: brightness(0) opacity(0);
    }

}
.exit-anim
{ 
    position: absolute;
    width: 100%;
    z-index: 20;
    display: flex;
    height: 100vh;
   
    flex-direction: column;
    animation: exitAnim 2000ms ease-in-out;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}
.landing-gradient
{
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
  
}
.landing-stars
{
    position: absolute;
    width: 100%;
    z-index: 2;
   
	-webkit-transition: all 1.25s linear;
	-o-transition: all 1.25s linear;
	transition: all 1.25s linear;
    animation: stars-flicker 600ms linear infinite;
    /* animation-delay: 1s; */

}
.stars-con
{
  
    animation: stars-flicker 600ms linear infinite;
    /* animation-delay: 1s; */
    opacity: 0;
    animation: stars-show 1200ms ease-in-out;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;

}

.landing-navbar
{
    
    padding-top: 20px;
    z-index: 100;
    height: 65px;
    position: fixed;
    background: rgba(255, 255, 255, 0.05);
backdrop-filter: blur(12px);
padding-bottom: 20px;
padding-right: 20px;

    /**/
    
    
    /* margin: auto; */
    display: flex;
    width: 100vw;
    padding: 20px 30px;
    align-items: center;
    justify-content: space-between;
    position: fixed;
   opacity: 0;
    animation: navbar 1200ms ease-in-out;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}
.landing-navbar-notAnim
{
    padding-top: 20px;
    z-index: 100;
    height: 65px;
    position: fixed;
    background: rgba(255, 255, 255, 0.05);
backdrop-filter: blur(12px);
padding-bottom: 20px;

    /**/
    
    
    /* margin: auto; */
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
    position: fixed;
   opacity: 1;
}
.parallax-container>.landing-navbar
{
    animation-delay: 2.4s;

}
.landing-ham
{
    margin-right: 15px;
}


.landing-tabs
{
    display: flex;
    width: 35%;
    justify-content: space-evenly;
    font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 400;
font-size:  0.9rem;

text-align: center;
color: #C9C9C9;
cursor: pointer;

}

.landing-title
{
    /* position: absolute; */
    /* font-family: 'Noto Sans Adlam Unjoined', sans-serif; */
    font-family: 'HeadLineA';
    font-style: normal;
    position: absolute;
    /* width: fit-content; */
    font-weight: 300;
    margin-top: 10vh;
   width: 100%;
   text-align: center;
   font-size: 19vw;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
   
    /* padding: auto 10px;  */
    width: fit-content;
    /* background: linear-gradient(218.07deg, #FFFFFF 13.85%, #4E6B6B 69.19%);;
-webkit-text-fill-color: transparent;
-webkit-background-clip: text; */
    letter-spacing: 1.1vw;
    -webkit-text-fill-color: transparent;
-webkit-background-clip: text;

    
    transition: ease-in;
    
    opacity: 0;
    animation: title 1.2s ease-in-out;
    animation-delay: 1.2s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;


}

.landing-title>span
{
    background: linear-gradient(218.07deg, #FFFFFF 13.85%, #4E6B6B 69.19%);
    
    -webkit-text-fill-color: transparent;
-webkit-background-clip: text;

}
.landing-titleanim>span
{
    background: linear-gradient(218.07deg, #FFFFFF 13.85%, #4E6B6B 69.19%);
    
    -webkit-text-fill-color: transparent;
-webkit-background-clip: text;
}
.landing-title::after
{
   
        content:" ";
        margin-left:  -2vw;
     
}

.landing-titleanim
{
    font-family: 'HeadLineA';
    font-style: normal;
    position: absolute;
    /* width: fit-content; */
    font-weight: 300;
    margin-top: 10vh;
   width: 100%;
   text-align: center;
   font-size: 19vw;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
   
    /* padding: auto 10px;  */
    width: fit-content;
    /* background: linear-gradient(218.07deg, #FFFFFF 13.85%, #4E6B6B 69.19%);;
-webkit-text-fill-color: transparent;
-webkit-background-clip: text; */
    letter-spacing: 1.1vw;
    -webkit-text-fill-color: transparent;
-webkit-background-clip: text;

    
    transition: ease-in;
    
    
    transition: ease-in;
    animation: titleNew  2000ms ease-in-out; 
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    
}

@keyframes titleNew{
    0%
    {
        filter: brightness(1);
        

    }
    100%
    {
        filter: brightness(200);
       
    }

}
@keyframes titleAnim {
    0% 
    {
        position: absolute;
        z-index: 1;
        opacity: 1;
        transform: translateY(0);
    
        
    }
   

    100% 
    {
        z-index: 20;
        /* width: 70%; */
        transform:  translateY(50%);  
        opacity: 0;
    }

}


.landing-pyramids
{

position: absolute;
/**/
    /* position: fixed; */
    bottom: 0;
    z-index: 8;
    width: 100%;
    opacity: 0;
   aspect-ratio: 2.8;
   display: flex;
   align-items: center;
   animation: pyramids 1.2s ease-in-out;
   animation-delay: 1s;
   animation-fill-mode: forwards;
   -webkit-animation-fill-mode: forwards;
}
.landing-pyramids-img{
  position: relative;
  aspect-ratio: 2.8;
  width: 100%;
  height: auto;
}
.landing-line-img
{
    
    position: absolute;
    width: 100%;
    margin-bottom: 4%;
    height: min(1vh,3px);
    background: #2EB8C0;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    -webkit-animation: landingLine 2s infinite ease-in-out;

    
}

@keyframes landingLine {
       0% {
      filter: brightness(0.7);
    }
    25% {
        filter: brightness(0.8);
    }
    50% {
        filter: brightness(1);
    }
  
    75% {
        filter: brightness(0.8);
    } 
    100% {
        filter: brightness(0.7);
    }
}

@keyframes navbar {
    0% {
        opacity: 0.8;
         transform: translateY(-120%);
        
    }

    100% {
        opacity: 1;
         transform: translateY(0%);
      
    }
}
@keyframes stars-show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        
    }
}

@keyframes  machine-bright {
    0% {
        filter: brightness(1);
    }
    100% {
        filter:brightness(0.4);
        
    }
}

@keyframes title {

    0% {
        opacity: 0.8; 
         transform: translateY(380%);
      
    }

 
    100% {
        opacity: 1; 
         transform: translateY(0%);
         
    }
}

@keyframes pyramids {
   
    0% {
        opacity: 1; 
         transform: translateY(110%) scale(1);
      
    }

    100% {
        opacity: 1;
         transform: translateY(0%) scale(1.16);
         
    }
}

@keyframes hideScroll {
   
    0% {
    overflow: hidden;
      
    }

    100% {
     overflow: hidden;
    }
}

@keyframes stars-flicker {
    0% {
      filter: brightness(0.7);
    }
    25% {
        filter: brightness(0.8);
    }
    50% {
        filter: brightness(1);
    }
  
    75% {
        filter: brightness(0.9);
    } 
    100% {
        filter: brightness(0.67);
    }
  }

  .parallax-container
  {
    width: 100%;
    height: 100vh;
    /* display: flex;
    justify-content: center;
    align-items: center; */
   
  }
.machine-img
{
   
    position: absolute;
    width: 100%;
    /* height: 100vh; */
    height: 100%;
    scale: 1;
    z-index: -1;
    object-fit: cover;
    animation: machine-bright 1.2s ease-in-out;
    animation-delay: 2.4s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    /* background-color: black; */
    overflow: hidden;
}

.landing-scroll{
    position: absolute;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    z-index: 8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: pyramids 1.2s ease-in-out;
    animation-delay: 1.9s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    /* animation: stars-show 200ms ease-in-out;
    animation-delay: 2.4s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards; */
    margin-left: 13px;

}

.landing-scroll-text
{
    font-family: 'HeadLineA';
font-style: normal;
font-weight: 400;
font-size: 0.7rem;
letter-spacing: 0.21em;

color: #FFFFFF;
margin-bottom: 5px;
-webkit-animation: scrollText 2s infinite ease-in-out;
}
@keyframes scrollText {
    0%
    {
        transform: translateY(0);
    }
    50%
    {
        transform: translateY(-15%);
    }
    100%
    {
        transform: translateY(0);
    }    
}


.landing-scroll-line
{
    width: 9px;
    height: 50px;
    background: linear-gradient(180.34deg, #FFEB77 0.29%, #AE3725 99.68%);
    -webkit-animation: scrollGlow 2s infinite ease-in-out;

}
@keyframes scrollGlow {
    0%{
        box-shadow:  0px 5px 10px 0px rgba(174, 110, 37, 0.5);
        filter: blur(0.4px); 
    }
    50%
    {
        box-shadow:   0px 2px 25px 3px rgba(174, 110, 37, 0.8);
        filter: blur(0); 
    }
    100%{
        box-shadow:  0px 5px 10px 0px rgba(174, 110, 37, 0.5);
        filter: blur(0.4px); 
/* filter: blur(1px); */
    }
    
}

@keyframes scrollGlowTheme {
    0%{
        box-shadow:  0px 5px 10px 0px rgba(141, 239, 255, 0.5);
        filter: blur(0.4px); 
    }
    50%
    {
        box-shadow:   0px 2px 25px 3px rgba(141, 239, 255, 0.8);
        filter: blur(0); 
    }
    100%{
        box-shadow:  0px 5px 10px 0px rgba(141, 239, 255, 0.5);
        filter: blur(0.4px); 
/* filter: blur(1px); */
    }
    
}
.machine-text
{
    display: flex;
    width: 40%;
    max-width: 400px;
    white-space: pre-wrap;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
   position: absolute;
   bottom: 10%;
   left: 8%;
   opacity: 0;
 
   animation: machine-content 1.2s ease-in-out;
   animation-delay: 2.4s;
   animation-fill-mode: forwards;
   -webkit-animation-fill-mode: forwards;
}

@keyframes machine-content {

    0% {
        opacity: 0.8; 
         transform: translateY(200%);
      
    }

 
    100% {
        opacity: 1; 
         transform: translateY(0%);
         
    }
}
.machine-text-header
{
    /* font-family: 'HeadLineA'; */
    /*font-family: 'Noto Sans Adlam Unjoined', sans-serif;*/
    font-family: 'wity2';
font-weight: 600;
font-size: 2rem;
letter-spacing: 0.02em;
line-height: 2.2rem;
color: #FFFFFF;
padding: 4px;
margin-bottom: 15px;
}
.machine-text-sub
{
    width: 80%;
    
    padding: 4px;
    font-family: 'wity';
    font-style: normal;
    font-weight: 400;
    font-size: 0.9rem;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

@keyframes machine-anim {

    0% {
      
      scale: 3.6;
      overflow: hidden;
    }

 
    100% {
       scale: 1;
       overflow: hidden;
    }
}
.parallax-container
{
   
    animation: machine-anim 2s ease-in-out;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;

}

.home-title
{
    font-family:  'Noto Sans Adlam Unjoined', sans-serif;
    
    font-style: normal;
    position: absolute;
    font-weight: 300;
    font-size: 3rem;
    left: 0; 
  height: fit-content;
    top: 0 ;
    bottom: 0;
    /* height: 200px; */
    right: 0; 
   margin: auto;
    width: fit-content;
    letter-spacing: 0.10em;
    color: #FFFFFF;
}

.time-main
{
height: 100vh;
/**/
position: relative;
}
.react-parallax
{
    height: 100vh;
}
.react-parallax>img{
    height: 100%;
}
.amb-con
{
    position: absolute;
    width:20%;
    max-width: 150px;
    bottom: 0;
    right: 0;
    -webkit-animation: glow 3s infinite ;

}
.amb-conL
{
    position: absolute;
    width:20%;
    max-width: 150px;
    top: 0;
    left: 0;
    transform: rotate(180deg);
    -webkit-animation: glow 3s infinite ;
    z-index: 0;

}
@keyframes glow2 {
    0%{
        transform:   blur(0px);
        opacity: 0.8;

    }
    100%
    {
        opacity: 1;
        transform:  blur(20px);

    }
    
}
@keyframes glow {
    0%{
        transform:   rotate(180deg) blur(0px);
        opacity: 0.8;

    }
    100%
    {
        opacity: 1;
        transform:  rotate(180deg) blur(20px);

    }
    
}

.timer
{
    position: relative;
   
    margin:auto;
    display: flex;
    gap: min(16px,7vw);
    color: #FFFFFF;
    font-family:  'Noto Sans Adlam Unjoined', sans-serif;
    /* -webkit-animation: cardFlip2 3s ease-in-out infinite; */
    font-style: normal;
    

}
.timer-ele
{
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(218.07deg, #FFFFFF 13.85%, #4E6B6B 69.19%);
    
    -webkit-text-fill-color: transparent;
-webkit-background-clip: text;
}
.timer-ele>span
{
    font-size: min(0.8rem,2vw);
    
}
.timer-ele>p
{
    margin-top: 3px;

    font-size: min(2rem, 8vw);

}
.timerAnim
{
    /* opacity: 0;
    -webkit-animation: appear 1s ease-in-out;
    -webkit-animation-delay: 2.4s;
    -webkit-animation-fill-mode: forwards; */
}
@keyframes appear {
    0%{
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}



@keyframes exitAnimMob {
    0% {
      
        transform: scaleX(1) scaleY(1) translateY(0);

        /* filter: brightness(1); */
      
        border-radius: 0;
        z-index: 100;
    }
    
    30%
    {
        z-index: -2;
    }

    100% 
    {
        /* transform: scaleX(0.26); */
        transform: scaleX(0.7) scaleY(0.6) ;
        z-index: -100;
      
    }

}

@keyframes titleMob {

    0% {
        opacity: 0.8; 
         transform: translateY(1200%);
      
    }

  
    

 
    100% {
        opacity: 1; 
         transform: translateY(0%);
         
    }
}

.cardComp
{
    z-index: -2;
 
  display: flex;
  flex-direction: column;
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
width: fit-content;
height: fit-content;

  margin:auto;
  opacity: 0;
    -webkit-animation: appear 1s ease-in-out;
    -webkit-animation-delay: 2.4s;
    -webkit-animation-fill-mode: forwards;


  
}

@keyframes cardFlip {
    0%{
        
        transform: translateY(-120%);
    }
    95.28%{
        transform: translateY(-120%);
    }
    100%{
        transform: translateY(0%);
    }
    
   
}
@keyframes cardFlip2 {
    0%{
        transform: translateY(0%);

    }
    90%
    {
        transform: translateY(0);

    }
    100%{
        transform: translateY(250%);
    }
}
.new-animTitle
{
    position: relative;
    margin-top: 4vh;
    color: white;
    font-size: 3rem;
    -webkit-animation: cardFlip 3s ease-in-out infinite;
}

.slide-out-top {
    transform: translateY(0%);
    opacity: 1;
  }
  
  .slide-in-top 
  {
    transform: translateY(0%);
    opacity: 1;
  }

  .TitleSp
  {
    color: white;
    font-size: 3vw;
    font-family: 'HeadLineA';
    letter-spacing: 0.5rem;

  }
  .TitleSp>span
{
    background: linear-gradient(218.07deg, #FFFFFF 13.85%, #4E6B6B 69.19%);
    
    -webkit-text-fill-color: transparent;
-webkit-background-clip: text;

}

@media screen and (max-width: 700px) {
    .landing-stars
    {
       
        height: 40vh;
        object-fit: cover;
    }
    .amb-con
   {
       width: 40%;
       z-index: 80;
   }
   .amb-conL
   {
       width: 40%;
       z-index: 80;
   }
   .landing-scroll-line
   {
       height: 30px;
   }
   .landing-scroll-text
   {
       font-size: 0.6rem;
   }
   .landing-tabs
   {
       display: none;
   }
   .landing-title
   {
       font-size: 16vw;
       margin-top: 30vh;
   }
   .landing-pyramids-img
   {
       height: 60vh;
       object-fit: cover;
   }
   .landing-titleanim
   {
       font-size: 16vw;
       margin-top: 20vh;
       animation: none;
   }
   .machine-text
   {
       width: 90%;
      
   }
   .machine-text-header
   {
       font-size: 7vw;
       width: 90%;
       word-spacing: 10px;
   }
   .machine-text-sub
   {
       font-size: 4vw;
   }
   
  
   .landing-titleanim
   {
       display: none;

   }
  .exit-anim
  {
   animation: exitAnimMob 2000ms ease-in-out;
   animation-fill-mode: forwards;
   -webkit-animation-fill-mode: forwards;
  }
  .landing-title
  {
   opacity: 0;
   width: 95vw;
   margin-top: 33vh;
   animation: titleMob 1.2s ease-in-out;
   animation-delay: 1.1s;
   animation-fill-mode: forwards;
   -webkit-animation-fill-mode: forwards;
  }
  .TitleSp
  {
   font-size: 10vw;
  }
   
}
.time-main
{
    /* scroll-snap-align: start; */
}

.scrollCon
{

   /* scroll-snap-type: y mandatory;
   overflow-y: scroll;
   max-height: 100vh; */
   /* scroll-behavior: smooth;
   max-height: 100vh; */
   /* overflow: auto; */
    
   
}
 /* .about-page
{
    scroll-snap-align: center;
   
}

.amb-back
{
    scroll-snap-align: center;
}
.activity-back
{
    scroll-snap-align: center;
}  */