
  @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Adlam+Unjoined:wght@700&display=swap');


html,body{margin:0;padding:0;}
body{
    min-height: 100vh;
}
.landing-main
{

    width: 100%;
      
     

}
.landing-gradient
{
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
  
}
.landing-stars
{
    position: absolute;
    width: 100%;
    z-index: 2;

}

.landing-navbar
{
    
    padding-top: 20px;
    z-index: 10;
    position: relative;
    margin: auto;
    display: flex;
    width: 98%;
    align-items: center;
    justify-content: space-between;
    transition: ease-in;
}



.landing-tabs
{
    display: flex;
    width: 35%;
    justify-content: space-evenly;
    font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
text-align: center;
color: #FFFFFF;
}

.landing-title
{
    position: absolute;
    font-family: 'Noto Sans Adlam Unjoined', sans-serif;
    font-style: normal;
    width: fit-content;
    margin: 20px auto;
    font-weight: 300;
    font-size: 10rem;
    line-height: 198px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    padding: auto 10px; 
    width: fit-content;
    margin-top: min(1vh,40px);
/* identical to box height */
    letter-spacing: 0.20em;
    color: #FFFFFF;
    /* transform: translate(50%); */
}


.landing-pyramids
{
    position: fixed;
    bottom: 0;
    z-index: 8;
    width: 100%;
    scale: 1.2;
   aspect-ratio: 2.8;
}
.landing-pyramids>img{
  
 aspect-ratio: 2.8;
  width: 100%;
  height: auto;
    

}