



html,body{margin:0;padding:0;}
body{
    min-height: 100vh;
    /* overflow: hidden; */
    animation: hideScroll 2500ms;
    background: black;
}
body::-webkit-scrollbar{
    display: none;
}

.home-con
{
    overflow: hidden;
    
} 
.landing-main
{

    width: 100%;
    display: flex;
    height: 100vh;
    flex-direction: column;
    overflow: hidden;
 
}

@keyframes exitAnim {
    0% {
      
        transform: scaleX(1) scaleY(1) translateY(0);

        /* filter: brightness(1); */
      
        border-radius: 0;
        z-index: 100;
    }
    
    90%
    {
        z-index: -2;
    }

    100% 
    {
        /* transform: scaleX(0.26); */
        transform: scaleX(0.23) scaleY(0.34) translateY(-7%);
        z-index: -100;
        /* filter: brightness(0.08); */
        }

}

.low-bright
{
    animation: exitBright 2000ms ease-in-out;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

.newNavbar
{
    width: 100%;
    margin: 2px auto;
}

@keyframes exitBright {
    0% {
      
      
        filter: brightness(1);
        border-radius: 0px;
        
    }

    100% 
    {
        /* transform: scaleX(0.26); */
        filter: brightness(0.08);
        border-radius: 25%;
      
    }

}

@keyframes radiusBorder {
    0% {
      
        filter: brightness(1);
        border-radius: 0;
      
    }

    100% 
    {
        /* transform: scaleX(0.26); */
       border-radius: 5%;
       z-index: -5;
       filter: brightness(0.08);
    }

}

@keyframes exitHide {
    0% {
      
      
        filter: brightness(1);
      
    }

    100% 
    {
        /* transform: scaleX(0.26); */
        filter: brightness(0) opacity(0);
    }

}
.exit-anim
{ 
    position: absolute;
    width: 100%;
    z-index: 20;
    display: flex;
    height: 100vh;
   
    flex-direction: column;
    animation: exitAnim 2000ms ease-in-out;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}
.landing-gradient
{
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
  
}
.landing-stars
{
    position: absolute;
    width: 100%;
    z-index: 2;
   
	-webkit-transition: all 1.25s linear;
	-o-transition: all 1.25s linear;
	transition: all 1.25s linear;
    animation: stars-flicker 600ms linear infinite;
    /* animation-delay: 1s; */

}
.stars-con
{
  
    animation: stars-flicker 600ms linear infinite;
    /* animation-delay: 1s; */
    opacity: 0;
    animation: stars-show 1200ms ease-in-out;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;

}

.landing-navbar
{
    
    padding-top: 20px;
    z-index: 10;
    height: 60px;
    position: fixed;
    
    /* margin: auto; */
    display: flex;
    width: 98%;
    align-items: center;
    justify-content: space-between;
  
   opacity: 0;
    animation: navbar 1200ms ease-in-out;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}
.landing-navbar-notAnim
{
    padding-top: 20px;
    z-index: 10;
    height: 60px;
    position: fixed;
    
    /* margin: auto; */
    display: flex;
    width: 98%;
    align-items: center;
    justify-content: space-between;
}
.parallax-container>.landing-navbar
{
    animation-delay: 2.4s;

}



.landing-tabs
{
    display: flex;
    width: 35%;
    justify-content: space-evenly;
    font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
text-align: center;
color: #FFFFFF;

}

.landing-title
{
    /* position: absolute; */
    font-family: 'Noto Sans Adlam Unjoined', sans-serif;
    font-style: normal;
    position: absolute;
    /* width: fit-content; */

    margin: 60px auto;
    font-weight: 300;
    font-size: 10rem;
    /* line-height: 2rem; */
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
   
    /* padding: auto 10px;  */
    width: fit-content;
   
    letter-spacing: 0.20em;
    color: #FFFFFF;
    transition: ease-in;
    
    opacity: 0;
    animation: title 1.2s ease-in-out;
    animation-delay: 1.2s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

.landing-titleanim
{
    font-family:  'Noto Sans Adlam Unjoined', sans-serif;
    
    font-style: normal;
    position: absolute;
    /* width: fit-content; */
    width: 30%;
    margin: 60px auto;
    
    font-weight: 300;
    font-size: 10rem;
    /* line-height: 2rem; */
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    /* padding: auto 10px;  */
    width: fit-content;
   
    letter-spacing: 0.20em;
    color: #FFFFFF;
    transition: ease-in;
    animation: titleNew  2000ms ease-in-out; 
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;

}

@keyframes titleNew{
    0%
    {
        filter: brightness(1);
        

    }
    100%
    {
        filter: brightness(200);
       
    }

}
@keyframes titleAnim {
    0% 
    {
        z-index: 1;
      
       
     
     
      font-size: 10rem;
    }
    
   

    100% 
    {

        z-index: 20;
        font-size: 8rem;
        font-size: 10rem;
       
        transform: translateY(min(100%,220px));
       
    }

}


.landing-pyramids
{
    position: fixed;
    bottom: 0;
    z-index: 8;
    width: 100%;
    opacity: 0;
   aspect-ratio: 2.8;
   display: flex;
   align-items: center;
   animation: pyramids 1.2s ease-in-out;
   animation-delay: 1s;
   animation-fill-mode: forwards;
   -webkit-animation-fill-mode: forwards;
}
.landing-pyramids-img{
  position: relative;
  aspect-ratio: 2.8;
  width: 100%;
  height: auto;
}
.landing-line-img
{
    
    position: absolute;
    width: 100%;
    margin-bottom: 4%;
    height: min(1vh,3px);
    background: #2EB8C0;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    
}

@keyframes navbar {
    0% {
        opacity: 0.8;
         transform: translateY(-120%);
        
    }

    100% {
        opacity: 1;
         transform: translateY(0%);
      
    }
}
@keyframes stars-show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        
    }
}

@keyframes  machine-bright {
    0% {
        filter: brightness(1);
    }
    100% {
        filter:brightness(0.4);
        
    }
}

@keyframes title {

    0% {
        opacity: 0.8; 
         transform: translateY(380%);
      
    }

 
    100% {
        opacity: 1; 
         transform: translateY(0%);
         
    }
}

@keyframes pyramids {
   
    0% {
        opacity: 1; 
         transform: translateY(110%) scale(1);
      
    }

    100% {
        opacity: 1;
         transform: translateY(0%) scale(1.16);
         
    }
}

@keyframes hideScroll {
   
    0% {
    overflow: hidden;
      
    }

    100% {
     overflow: hidden;
    }
}

@keyframes stars-flicker {
    0% {
      filter: brightness(0.7);
    }
    25% {
        filter: brightness(0.8);
    }
    50% {
        filter: brightness(1);
    }
  
    75% {
        filter: brightness(0.9);
    } 
    100% {
        filter: brightness(0.67);
    }
  }

  .parallax-container
  {
    width: 100%;
    height: 100vh;
    /* display: flex;
    justify-content: center;
    align-items: center; */
   
  }
.machine-img
{
   
    position: absolute;
    width: 100%;
    height: 100%;
    scale: 1;
    z-index: -1;
    object-fit: cover;
    animation: machine-bright 1.2s ease-in-out;
    animation-delay: 2.4s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    /* background-color: black; */
    overflow: hidden;
}

.landing-scroll{
    position: absolute;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    z-index: 30;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: stars-show 200ms ease-in-out;
    animation-delay: 2.4s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;

}

.landing-scroll-text
{
    font-family: 'HeadLineA';
font-style: normal;
font-weight: 400;
font-size: 0.7rem;
letter-spacing: 0.21em;

color: #FFFFFF;
margin-bottom: 5px;
}

.landing-scroll-line
{
    width: 9px;
    height: 50px;
    background: linear-gradient(180.34deg, #FFEB77 0.29%, #AE3725 99.68%);
}
.machine-text
{
    display: flex;
    width: 40%;
    max-width: 400px;
    white-space: pre-wrap;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
   position: absolute;
   bottom: 10%;
   left: 8%;
   opacity: 0;
 
   animation: machine-content 1.2s ease-in-out;
   animation-delay: 2.4s;
   animation-fill-mode: forwards;
   -webkit-animation-fill-mode: forwards;
}

@keyframes machine-content {

    0% {
        opacity: 0.8; 
         transform: translateY(200%);
      
    }

 
    100% {
        opacity: 1; 
         transform: translateY(0%);
         
    }
}
.machine-text-header
{
    /* font-family: 'HeadLineA'; */
    font-family: 'Noto Sans Adlam Unjoined', sans-serif;

font-weight: 600;
font-size: 2.4rem;
letter-spacing: 0.02em;
line-height: 2.8rem;
color: #FFFFFF;
padding: 4px;
margin-bottom: 15px;
}
.machine-text-sub
{
    width: 80%;
    padding: 4px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

@keyframes machine-anim {

    0% {
      
      scale: 3.6;
      overflow: hidden;
    }

 
    100% {
       scale: 1;
       overflow: hidden;
    }
}
.parallax-container
{
   
    animation: machine-anim 2s ease-in-out;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;

}
