.formField-otp{
    width: 90%;
    margin-left: 1.5em;
    display: flex;
}
.otp-Container{
    /* display: flex; */
    margin-left: 1em;
    margin-top: 8em;
}
.otp-main{
    position: absolute;    
    width: 37%;
    height: 80%;
    border-color: #0000;
    top: 8%;
    
    
    
    right: 10%;
    background-color: #ffff;
    border-radius: 5px;
    /* box-shadow: rgba(14, 14, 14, 0.99) 1px 15px 40px; */
    }
    .otp-heading {
        margin-top: 5em;
    }
    .otp-heading h1{
       
        margin-top: 1em;
        margin-right: 10em;
        
    }
    .otp-bg{
        width: 100%;
        position: relative;
        /* background-image: url('./image\ 6.png');
        background-repeat: no-repeat; */
    }
    .backimgstyle-otp{
        width: 100%;
    }
    .login-subtitle-otp{
        
        margin-left: 0.3em;
        margin-top: -1em;
        width: 100%;
      
    }
    .login-subtitle-otp p{
     color: rgb(69, 64, 64);
     width: 100%;
    }
    /* .login-subtitle-s2 a{
        margin-left: 1em;
        color: blue;
        text-decoration: none;
       
    } */
    
    .login-subtitle-s1 p{
        color:rgba(0, 0, 0, 0.7);
    }
    .otp-footer{
        display: flex;
        margin-top: 0.6em;
        margin-left: 2em;
    }
    .otp-footer1 p{
        margin-left: 7em;
        color: #747980;
    }
    .resend-code{
        text-decoration: none;
    color: rgb(39, 12, 220);
    margin-top: 1em;
    margin-left: 0.6em;
    }
    .formField-otp input[type=text] {
        border: none;
        border-bottom: 1px solid rgb(116, 116, 120);
        width: 90%;
        margin: 1em;
        text-align: center;
        font-size: medium;
       
      }
     