.create-main{
    position: absolute;    
    width: 36%;
    height: 88%;
    border-color: #0000;
    top: 8%;
    
    
    
    right: 10%;
    background-color: #ffff;
    border-radius: 5px;
    /* box-shadow: rgba(14, 14, 14, 0.99) 1px 15px 40px; */
    }
    .create-heading h2{
        margin-right: 11em;
        margin-top: 3em;
        
    }
    .create-bg{
        width: 100%;
        position: relative;
        /* background-image: url('./image\ 6.png');
        background-repeat: no-repeat; */
    }
    .backimgstyle-create{
        width: 100%;
    }
    .create-subtitle{
        display: flex;
        margin-left: 2.2em;
        margin-top: -1.6em;
      
    }
    .create-sub-subtitle{
        margin-top: -1em;
        margin-right:21.4em;
    }
    /* .create-subtitle-s2 a{
        margin-left: 1em;
        color: blue;
        text-decoration: none;
       
    } */
    
    .create-subtitle-s1 p{
        color:rgba(0, 0, 0, 0.7);
    }
    .Form-Container-create{
        width: 100%;
        margin: 0.5em;
        
        
    }
    .create-create-account{
        margin-top: 1.2em;
         margin-left: 0.5em;
         color: blue;
         text-decoration: none;
         font: 1em sans-serif;
         
     }
    .formCenter-create{
        margin-top: -1em;
        width: 100%;
    }
    .formFieldInput-create{
        width: 100%;
    }
    .formField-create{
        /* margin-top: 2em;
        margin-bottom: 2em; */
        margin-right: 3em;
        justify-content: center;
        align-items: center;
        margin-top: 2.5em;
        margin-left: 2em;
        
    
    }
   
   
    
      
    .formFieldButton-create{
        margin-top: 0em;
        width: 84%;
    }
    .create-img{
        margin-top: 2em;
        word-spacing: 2em;
        
        margin-right: 10em;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .div-create-google,.div-create-fb,.div-create-apple{
        width: 70px;
        height: 58px;
        border-radius: 50%;
    
    
        
        background-color: rgb(252, 254, 254);
        margin: 1em;
    
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        margin-left: 2.5em;
        /* box-shadow: rgba(179, 168, 168, 0); */
    
    }
    
    .create-google,.create-apple,.create-fb{
        padding-top: 1em;
        padding-bottom: 1em;
       
    
    
    }
    
    .mid-line-create{
        display: flex;
        margin-top: 1.5em;
        margin-bottom: 0.3em;
    }
    .mid-line-create-left {
        width: 75%;
        height: 0.4px;
        border-bottom: 1px solid rgb(170, 170, 170);
        margin-left: 2em;
        margin-right: 0.4em;
        
        background-color: rgb(170, 170, 170);
    }
    .mid-line-create-right {
        width: 75%;
        height: 0.4px;
        border-bottom: 1px solid rgb(170, 170, 170);
        margin-right: 2.7em;
        margin-left: 0.4em;
        
        background-color: rgb(170, 170, 170);
    }
    .mid-line-mid-create p{
        margin-top:-1em;
        color: rgb(170, 170, 170);
    }
    