.detail-main{
    position: absolute;    
    width: 34%;
    height: 85%;
    border-color: #0000;
    top: 8%;
    
    
    
    right: 10%;
    background-color: #ffff;
    border-radius: 5px;
    /* box-shadow: rgba(14, 14, 14, 0.99) 1px 15px 40px; */
    }
    .detail-heading h2{
        margin-right: 14em;
        margin-top: 3em;
        
    }
    .detail-bg{
        width: 100%;
        position: relative;
        /* background-image: url('./image\ 6.png');
        background-repeat: no-repeat; */
    }
    .backimgstyle-detail{
        width: 100%;
    }
    
    /* .login-subtitle-s2 a{
        margin-left: 1em;
        color: blue;
        text-decoration: none;
       
    } */
    
    .Form-Container{
        width: 100%;
        margin: 0.5em;
        
        
    }
    .formCenter-detail{
        margin-top: -1em;
        width: 100%;
    }
    .formFieldInput-detail{
        width: 100%;
        margin: -1em;
    }
    
    
      
    .formFieldButton-detail{
        margin-top: 1em;
        width: 84%;
        
    }
   .formField-detail{
    display: flex;
    width: 90%;
    margin-bottom: 2em;
    margin-left: 2em;
    margin-right: 2em;
   }
   .formField-detail-1{
    width: 50%;
   }
   .formField-detail-2 label{
    margin-right: 8.4em;
    color:#747980;
   }
   .formField-subdetail{
    display: flex;
   }
   .formField-subdetail2{
    margin-top:-1.8em;
    margin-left: 2.5em;
   }
   .formField-subdetail2 p{
    margin-right: 8.4em;
    color:#747980;
   }