.container {
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;

    background-image: url("../../../images/eventBack.png");
    background-repeat: no-repeat;
    background-size: auto;
    /* background-position-x: left; */

    font-family: 'Inter';
    font-style: normal;
}

.content {
    width: 100vw;
    height: 100vh;
    color: white;
    padding: 4% 4%;

    background-color: rgba(0, 0, 0, .7);
}

.breadcrumb {
    margin-top: 10vh;
    font-weight: 500;
    color: #616161;
}

.breadcrumb span {
    color: white;
}

.eventsnav {
    margin-top: 3vh;

    top: 15%;
    width: 100%;
}

.eventsnav ol {
    list-style-type: none;
    display: flex;
    justify-content: center;
    /* padding-left: 0; */
}

.eventsnav ol li {
    margin-left: 5vw;
    margin-right: 5vw;
    padding-bottom: 5px;
    cursor: pointer;
    color: white;
}

.eventsnav ol li.active {
    color: white;
    text-shadow: 0 0 8px white;
    border-bottom: 3px solid transparent;
    border-image: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgb(53, 147, 255) 100%);
    border-image-slice: 1;
}

hr {
    margin-top: -3px;
    margin-left: -5%;
    width: 101vw;

    border-color: #616161;
}