section {
    margin-top: 4vh;
}

.query span input {
    width: 30vw;
    padding: 10px;
    
    color: white;
    background-color: black;

    border: solid 1px gray;
    border-style: solid solid;
    border-radius: 5px;
}

.query span {
    position: relative;
}

.query span img {
    cursor: pointer;
    position: absolute;
    height: 80%;
    right: 15px;
    top: 3px;
}

.query label {
    display: block;
    font-size: 0.9rem;
    margin-bottom: 10px;
}

.topsection {
    display: flex;
    justify-content: space-between;
}

.name {
    text-transform: uppercase;
    font-size: 2.5rem;
}

.rtable {
    color: white;

    margin-top: 2vh;
    border-collapse: separate;
    border-spacing: 0 10px;
}

.rth {
    background: transparent;
    border: none;
    padding-bottom: 0;
    font-weight: lighter;
    font-size: 0.8rem;
}

.rtd {
    border: solid 0px #000;
    border-style: solid none;
    padding: 10px;
    backdrop-filter: blur(10px);
    background: rgba(41, 41, 41, 0.5)
}

/* td:first-child {
    border-left-style: solid;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

td:last-child {
    border-right-style: solid;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
} */

.profile {
    height: 20px;
}