@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
.space-top
{
  height: max(12vh,110px);
}

.navbar
{
box-sizing: border-box;
background: #FFFFFF;
border-bottom: 1px solid rgba(0, 0, 0, 0.2);
display: flex;
min-height: 90px;
height: 10vh;
width: 100%;
position: fixed;
z-index: 100;
top:0;
left: 0;
}
.nav-img
{
  max-width: 70px;
  object-fit: contain;
  aspect-ratio: 1/1;
}
.nav-logo
{
  width: 50%;
  display: flex;
  align-items: center;
  margin-left: 5px;
}
.nav-mnit
{
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 1.6rem;

letter-spacing: 0.03em;
color: #000000;
}
.nav-title
{
  margin-left: 10px;
}
.nav-text
{
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 1rem;
color: rgba(0, 0, 0, 0.9);

}
.nav-icons
{
  display: flex;
  justify-content: flex-end;
  width: 50%;
  align-items: center;
}
.nav-notify
{
  width: 35px;
  object-fit: contain;
  aspect-ratio: 1/1;
  height: fit-content;
  margin-right: 7%;
}
.nav-profile{
  width: 60px;
  padding: 2px;
  object-fit: contain;
  aspect-ratio: 1/1;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 65px;
  margin-right: 4%;
}
.sidebar
{
position: absolute;
max-width: 236px;
left: 0;
width: 14%;
top: max(10vh,90px);
min-height: 600px;
padding: 10px 0px;

background: linear-gradient(176.59deg, #282828 26.04%, #393939 100%);
}
.sidebar-header
{
  display: flex;
  width: 100%;
  background: linear-gradient(92.37deg, #632CFF 0%, #BE57B1 53.65%, #FF8762 100%);
  padding: 8px 0px;
  align-items: center;
  margin-top: 30px;

}
.sidebar-title
{
  width: 63%;
  text-align: right;
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 1.2rem;


/* identical to box height */
letter-spacing: 0.03em;
color: #FFFFFF;

}
.sidebar-toggle
{
  width: 15px;
  margin-left: 10px;
  object-fit: contain;
  aspect-ratio: 1/1;
}
.sidebar-options
{
  width: 60%;
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
margin: 10px;
margin: auto;
letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.4);


}
.sidebar-opt
{
  margin: 20px 0px;
}
.sidebar-active
{
width: 31px;
height: 3px;
left: 47px;
top: 180px;
background: linear-gradient(269.47deg, #FF8762 -3.54%, #FF8762 95.28%);
border-radius: 9px;
}
.rotate
{
  
  transform: rotate(180deg);
  -webkit-transition: transform 300ms ease-in-out;
}
.rotate0
{
  
  transform: rotate(0);
  -webkit-transition: transform 300ms ease-in-out;
}
.exit
{

  display: none;
}
.sidebar-exit
{
  background: white;
  min-height:40px;
  height: 0px;
  top: 50px;
  
}
.super-main
{
  width: 85%;
  margin-left: auto;
  margin-top: 20px;
  padding: 5px 15px;
}

.super-title
{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 1.6rem;
letter-spacing: 0.02em;

color: #000000;
}
.super-tabmenu
{
  
  margin-top: 40px;
  
  display: flex;
 align-items: flex-end;
}
.tab-options
{
  width: 60%;
  display: flex;
}
.tab-opt
{
  font-family: 'Montserrat', sans-serif;;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 0.6);
  margin-right: 20px;
}
.tab-function
{
  width: 40%;
  margin-right: 40px;
  display: flex;
  justify-content: flex-end;
}
.create-event
{
display: flex;
align-items: center;
width: 90%;
max-width: 197px;
padding:10px 0px ;
background: linear-gradient(86.27deg, #000000 0%, #3E3E3E 100%);
border-radius: 6px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 1.2rem;
line-height: 26px;
letter-spacing: 0.02em;
color: #FF8762;
}
.create-icon
{
  margin: 0px 10px;
}
.create-text
{
  position: absolute;
  transform: translateX(50%);
}
.tab-line
{
  margin-top: 2px;
  height: 1px;
  width: 100%;
  background:  rgba(0, 0, 0, 0.2);
}
.tab-active
{
width: 100%;
margin-top: 8px;
height: 3px;
margin-bottom: -4px;
transform: matrix(1, 0, 0, -1, 0, 0);
background: linear-gradient(269.47deg, #6272FF -3.54%, #6100FF 95.28%);
border-radius: 9px;
}
.eventTab-main
{
  width: 100%;
    margin-top: 25px;
    min-height: 60vh;
    display: flex;
    flex-wrap: wrap;
}
.eventTab-Ecard{
  width: 30%;
  aspect-ratio: 1/1.5;
  max-width: 290px;
  max-height: 409px;
  background: #C07070;
  margin-top: 10px;
  margin-right:90px ;
 
  box-shadow: 0px 4px 6px rgba(103, 81, 240, 0.32), 0px 4px 20px rgba(103, 81, 240, 0.35), 0px 4px 12px rgba(103, 81, 240, 0.25), 0px 4px 13px rgba(103, 81, 240, 0.25), 0px 4px 24px rgba(103, 81, 240, 0.25), 0px 4px 40px #6751F0;
  border-radius: 10px;
}
.Ecard-img
{
  width: 100%;
  height: 100%;
  max-width: 290px;
  max-height: 409px;
  background: #C07070;
  border-radius: 10px;
}





/* ADMIN PASSES PAGE  */



.desktop26-main{
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;

}
.desktop26-head{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:10px 40px;
  font-size: 24px;
}

.desktop26-create-btn{
  background: linear-gradient(86.27deg, #000000 0%, #3E3E3E 100%);;
  color: #FF8762;
  border-radius: 6px;
  border: none;
  height: 54px;
  width: 194px;
  margin: 10px 0;

}
.desktop26-btn-inner{
  display: flex;
  
  font-weight: 400;
font-size: 18px;
line-height: 26px;
align-items: center;
justify-content: space-around;
/* identical to box height, or 144% */

letter-spacing: 0.02em;
}
.desktop26-btn-inner img{
  width: 24px;
  height: 24px;
}
.desktop26-Passes{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.passCard-main{
  margin: 2rem;
  /* box-shadow: 0px 4.38349px 15.3422px rgba(0, 0, 0, 0.55); */
border-radius: 8px;


}
.passCard-img{
border-radius: 8px;
  box-shadow: 0px 4.38349px 15.3422px rgba(0, 0, 0, 0.55);


}

.dashboard-header
{
  margin: 20px 15px;
}


.excel-btn
{
  border: none;
  background: #FFFFFF;
  padding: 3px;
box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
border-radius: 4px;
}
.certification-btn
{
  display: flex;
  border: transparent;
  padding: 6px 10px;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
border-radius: 4px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
/* identical to box height */
letter-spacing: 0.02em;
color: rgba(0, 0, 0, 0.7);
margin-right: 25px;
}
.certification-btn>img{
  margin-right: 7px;
}




/*TABLE*/


.app-container {
  /* display: flex; */

  /* flex-direction: column; */
  gap: 10px;
  padding: 1rem;
}

.h2-Heading {
  font-family: 'Montserrat', sans-serif;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {

  border-bottom: 0.01px solid grey;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  /* text-align: left; */
  text-align: center;
  padding: 8px;
  font-size: 15px;
}

th {
  background-color: white;
}

td {
  background-color: white;
}

form {
  /* display: flex; */
  gap: 5px;
}

form td:last-child {
  display: flex;
  justify-content: space-evenly;
}

form * {
  font-size: 20px;
}


.buttons {
  display: inline-block;
  display: flex;
}



/* .add{
  
  float: right;
} */

.MuiAddCircleOutlinedIcon-root {
  float: right;
}

@media only screen and (min-width: 500px) {
  .resp-m-l-r {
    margin-left: 70px;
    margin-right: 50px;
  }
}

.resp-m-l-r
{
  margin: auto 15px
}
.desktop27-main
{
  min-height: 104vh;
}
.super-main
{
  min-height: 104vh;
}
.desktop14-sections
{
  min-height: 70vh;
}


/*Pagination*/
.pagination
{
  display: flex;
    width: 100%;
    justify-content: center;
}
.page-item
{
  padding: 6px 14px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  
  margin:auto 8px;
  list-style: none;
  background-color: rgb(249, 244, 244);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  font-weight: 600;
  border-radius: 3px;
 

}
.page-item>a{
  text-decoration: none;
  color: #3e95ec;
}
.page-item-active
{
  color: white;
 background-color:#3e95ec ;
}
.page-item>a{
  text-decoration: none;
 
}
.page-item-active>a
{
  color: white;
}