@import url('https://fonts.googleapis.com/css?family=Space+Grotesk&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Adlam+Unjoined:wght@700&display=swap');
 @font-face {
  font-family: 'HeadLineA';
  src: url('images/font.ttf');
}
@font-face {
  font-family: 'wity';
  src: url('./images/wity.ttf');
}
@font-face {
  font-family: 'wity2';
  src: url('./images/wity2.ttf');
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

body{margin:0;padding:0;}
body{
  overflow-x: hidden;
    width: 100%;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    /* overflow-x: hidden; */
    /* -webkit-overflow-scrolling: touch;  */
    overflow-y: auto;
    /* overflow-y: hidden; */
    /* overflow: hidden; */
    animation: hideScroll 2500ms;
    background: black;
}
body::-webkit-scrollbar{
    display: none;
    width: 0;
}


.space-top
{
  height: max(10vh,90px);
  background: linear-gradient(176.59deg, #282828 26.04%, #393939 100%);
}
.App{
  /* overflow-x: hidden; */
}
.super-main
{
 background-color: white;
}

.navbar
{
box-sizing: border-box;
background: #FFFFFF;
border-bottom: 1px solid rgba(0, 0, 0, 0.2);
display: flex;
min-height: 90px;
height: 10vh;
width: 100%;
position: fixed;
z-index: 100;
top:0;
left: 0;
}
.nav-img
{
  max-width: 70px;
  object-fit: contain;
  aspect-ratio: 1/1;
}
.nav-logo
{
  width: 50%;
  display: flex;
  align-items: center;
  margin-left: 5px;
}
.nav-mnit
{
  font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 1.6rem;

letter-spacing: 0.03em;
color: #000000;
}
.nav-title
{
  margin-left: 10px;
}
.nav-text
{
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 1rem;
color: rgba(0, 0, 0, 0.9);

}
.nav-icons
{
  display: flex;
  justify-content: flex-end;
  width: 50%;
  align-items: center;
}
.nav-notify
{
  width: 20px;
  object-fit: contain;
  aspect-ratio: 1/1;
  height: fit-content;
  margin-right: 7%;
}
.nav-profile{
  width: 40px;
  padding: 2px;
  object-fit: contain;
  aspect-ratio: 1/1;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 65px;
  margin-right: 4%;
}
.sidebar
{
position: fixed;
top:max(10vh,90px);
height: 100%;
max-width: 236px;
left: 0;
width: 14%;
top: max(10vh,90px);
min-height: 600px;
padding: 10px 0px;

background: linear-gradient(176.59deg, #282828 26.04%, #393939 100%);
}
.sidebar-header
{
  display: flex;
  width: 100%;
  background: linear-gradient(92.37deg, #632CFF 0%, #BE57B1 53.65%, #FF8762 100%);
  padding: 8px 0px;
  align-items: center;
  margin-top: 30px;

}
.sidebar-title
{
  width: 63%;
  text-align: right;
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 1.2rem;


/* identical to box height */
letter-spacing: 0.03em;
color: #FFFFFF;

}
.sidebar-toggle
{
  width: 15px;
  margin-left: 10px;
  object-fit: contain;
  aspect-ratio: 1/1;
  transform: rotate(270deg);
  cursor: pointer;
}
.sidebar-options
{
  width: 60%;
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
margin: 10px;
margin: auto;
letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.4);


}
.sidebar-opt
{
  margin: 20px 0px;
  cursor: pointer;
}
.sidebar-active
{
width: 31px;
height: 3px;
left: 47px;
top: 180px;
background: linear-gradient(269.47deg, #FF8762 -3.54%, #FF8762 95.28%);
border-radius: 9px;
}
.rotate
{
  
  transform: rotate(180deg);
 
}

@keyframes slideOut {
  0%{
    transform: translateX(0);
    opacity: 1;
  }
  100%
  {
    transform: translateX(-300%);
    opacity: 0;
    width: 0;
  }
}
@keyframes slideIn {
  0%{
    transform: translateX(-120%);
    opacity: 0;
  }
  100%
  {
    transform: translateX(0);
    opacity: 1;
  }

  
}
@keyframes slideInSidebar {
  0%{
    transform: translateX(-120%) rotate(-90deg);
    opacity: 0;
  }
  100%
  {
    transform: translateX(0) rotate(-90deg);
    opacity: 1;
  }

  
}
.exit
{

  display: none;
}
.sidebar-exit
{
  background: white;
  min-height:40px;
  height: 0px;
  top: 50px;
  
}
.super-main
{
  width: 85%;
  margin-left: auto;
  margin-top: 20px;
  padding: 5px 15px;
  
}

.super-title
{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 1.6rem;
letter-spacing: 0.02em;

color: #000000;
}
.super-tabmenu
{
  
  margin-top: 40px;
  
  display: flex;
 align-items: flex-end;
}
.tab-options
{
  width: 60%;
  display: flex;
}
.tab-opt
{
  font-family: 'Montserrat', sans-serif;;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 0.6);
  margin-right: 20px;
  cursor: pointer;
}
.tab-function
{
  width: 40%;
  margin-right: 40px;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 6px;
}
.create-event
{
display: flex;
align-items: center;
width: 35%;
min-width: 170px;
cursor: pointer;
padding:6px 0px ;
background: linear-gradient(86.27deg, #000000c2 0%, #3E3E3E 100%);
border-radius: 6px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 1rem;
line-height: 26px;
letter-spacing: 0.02em;
color: #FF8762;

}
.create-icon
{
  margin: 0px 10px;
}
.create-text
{
  position: absolute;
  transform: translateX(50%);
}
.tab-line
{
  margin-top: 2px;
  height: 1px;
  width: 100%;
  background:  rgba(0, 0, 0, 0.2);
}
.tab-active
{
width: 100%;
margin-top: 8px;
height: 3px;
margin-bottom: -4px;
transform: matrix(1, 0, 0, -1, 0, 0);
background: linear-gradient(269.47deg, #6272FF -3.54%, #6100FF 95.28%);
border-radius: 9px;
}
.eventTab-main
{
  width: 100%;
    margin-top: 25px;
    min-height: 60vh;
    display: flex;
    flex-wrap: wrap;
}
.eventTab-main>a
{
  text-decoration: none;
}
.eventTab-Ecard{
    width: 30%;
    aspect-ratio: 1/1.41;
  max-width: 230px;
  text-decoration: none;
    height: 409px;
    display: flex;
  min-width: 290px;
  /* max-width: 290px;
  min-height: 409px; */
  position: relative;
  background: #C07070;
  margin-top: 10px;
  margin-right:90px ;
  -webkit-transition: .9s ease-in-out;
  transition: .9s ease-in-out;
  box-shadow: 0px 4.38349px 15.3422px rgb(0 0 0 / 55%);
  border-radius: 10px;

}

.eventTab-Ecard:hover .Ecard-img
{
  -webkit-filter:  blur(1px);
	filter:  blur(1px) brightness(40%);
  /* transition: all 1s ease-in-out; */
}
.eventTab-Ecard:hover .Ecard-title
{
  opacity: 1;
}
.eventTab-Ecard:link
{
text-decoration: none;
}
.Ecard-title
{
  text-decoration: none;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  opacity: 0;
  align-items: center;
  z-index: 10;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  pointer-events: none;
  -webkit-transition: 0.6s ease-in-out;
transition: .6s ease-in-out;

 
}
.Ecard-img
{
  width: 100%;
 height: 100%;
  background: #C07070;
  text-decoration: none;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  z-index: 0;
  position: absolute;
  -webkit-transition: .6s ease-in-out;
transition: .6s ease-in-out;
  /* -webkit-filter: grayscale(0) blur(0);
filter: grayscale(0) blur(0); */


}
.Ecard-img>img
{ width: 100%;
  height: 100%;
  z-index: 0;
  position: absolute;
  -webkit-transition: .9s ease-in-out;
transition: .9s ease-in-out;

}





/* ADMIN PASSES PAGE  */



.desktop26-main{
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;

}
.desktop26-head{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:10px 40px;
  font-size: 24px;
}

.desktop26-create-btn{
  background: linear-gradient(86.27deg, #000000 0%, #3E3E3E 100%);;
  color: #FF8762;
  border-radius: 6px;
  border: none;
  height: 54px;
 width: 20%;
 min-width: 170px;
 max-width: 200px;
cursor: pointer;
  margin: 10px 0;

}
.desktop26-btn-inner{
  display: flex;
  
  font-weight: 400;
font-size: 1rem;

align-items: center;
justify-content: space-around;
/* identical to box height, or 144% */

letter-spacing: 0.02em;
}
.desktop26-btn-inner img{
  width: 24px;
  height: 24px;
}
.desktop26-Passes{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.passCard-main{
  margin: 2rem;
  /* box-shadow: 0px 4.38349px 15.3422px rgba(0, 0, 0, 0.55); */
border-radius: 8px;


}
.passCard-img{
border-radius: 8px;
  box-shadow: 0px 4.38349px 15.3422px rgba(0, 0, 0, 0.55);


}

.dashboard-header
{
  margin: 20px 15px;
}


.excel-btn
{
  border: none;
  background: #FFFFFF;
  padding: 3px;
box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
border-radius: 4px;
margin-right: 20px;
}
.certification-btn
{
  display: flex;
  border: transparent;
  padding: 6px 10px;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
border-radius: 4px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
/* identical to box height */
letter-spacing: 0.02em;
color: rgba(0, 0, 0, 0.7);
margin-right: 25px;
}
.certification-btn>img{
  margin-right: 7px;
}




/*TABLE*/


.app-container {
  /* display: flex; */

  /* flex-direction: column; */
  gap: 10px;
  padding: 1rem;
}

.h2-Heading {
  font-family: 'Montserrat', sans-serif;
}

table {
  border-collapse: collapse;
  width: 100%;
  color: #000000;
}

th,
td {

  border-bottom: 0.01px solid grey;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  color: black;
  /* text-align: left; */
  text-align: center;
  padding: 8px;
  font-size: 15px;
}

th {
  background-color: white;
  /* font-size: 20px; */
  font-family: 'Montserrat';
  font-style: normal;
}

td {
  background-color: white;
  /* font-size: 20px; */
  font-family: 'Montserrat';
  font-style: normal;
}

/* form {
  display: flex;
  gap: 5px;
  font-family: 'Montserrat';
  font-style: normal;
} */

/* form td:last-child {
  display: flex;
  justify-content: space-evenly;
} */

/* form * {
  font-size: 20px;
} */


.buttons {
  display: inline-block;
  display: flex;
}
.Drop-Down img{
  margin-left: 1em;
}
.Drop-down-Container{
  width: 80%;
}
.drop-down-button{
  width: 100%;
  
}
.Form-Container{
  width:100%;
padding-top: 2%;
 padding-bottom: 3%; 
border-color: #0000;
background-color:#EEEEEE;



/* padding-left: 10em;
box-shadow: rgba(220, 224, 220, 0.99) 1px 15px 40px; */

}
.Form-sub-Container{
  margin-left: 4em;
  text-align: left;
}
.Form-Container h4{

  font-weight: 900;
  color: #000000;
}
.Pop-Up-Screen{
  width: 100%;
  height: auto;
  
}
.Pop-up-submit{
  display:flex;
  background-color: white;
  margin-top: 3%;
  width:8%;
  justify-content: center;
  margin-left: 6em;
  /* box-shadow: "0px 0px 4px rgba(0, 0, 0, 0.8)"; */
  border-color: #3EA93C;
  border-radius: 3px;
  border-style: solid;
  cursor: pointer;
  padding: 0.4em;
            
}
.Pop-up-submit-icon{
margin-right: 0.5em;
}
.Pop-up-submit-text p{
  color: #135E00;
  justify-content: center;
  padding: 10%;
  font-size:15px;
}


/* .add{
  
  float: right;
} */

.MuiAddCircleOutlinedIcon-root {
  float: right;
}

@media only screen and (min-width: 500px) {
  .resp-m-l-r {
    margin-left: 70px;
    margin-right: 50px;
  }
}

.resp-m-l-r
{
  margin: auto 15px;
  font-size: 20px;
  font-family: 'Montserrat';
  font-style: normal;
 }
.desktop27-main
{
  min-height: 104vh;
}
.super-main
{
  min-height: 104vh;
}
.desktop14-sections
{
  min-height: 70vh;
}


/*Pagination*/
.pagination
{
  display: flex;
    width: 100%;
    justify-content: center;
}
.page-item
{
  padding: 6px 14px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  margin:auto 8px;
  list-style: none;
  background-color: rgb(249, 244, 244);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  font-weight: 600;
  border-radius: 3px;
}
.page-item>a{
  text-decoration: none;
  color: #3e95ec;
}
.page-item-active
{
  color: white;
 background-color:#3e95ec ;
}
.page-item>a{
  text-decoration: none;
 
}
.page-item-active>a
{
  color: white;
}


/* Profile */

.user-main {
  width: 85%;
  margin-left: auto;
  margin-top: 25px;
}

.user-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  letter-spacing: 0.02em;
  text-align: center;
  color: #000000;
}

.user-tabmenu {
  margin-top: 30px;
  display: flex;
  align-items: flex-end;
}
.profile-main{
  /* border: 1px solid black; */
  width: 700px;
  display: flex;
  flex-direction: column;
  margin: 10px auto;
}
.user-img{
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.user-img>img{
  width: 100px;
  height: 100px;
  margin: 8px auto;
}
.user-profile-content{
  padding: 10px;
}

.desktop26-head
{
  font-family: 'Montserrat';
  font-style: normal;
}
tr{
  font-family: 'Roboto';
}

.dashboard-function
{
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;

}
.dashboard-icons
{
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.dashboard-paginate
{
  width: 70%;
  display: flex;
  justify-content: flex-start;
}

.super-mainCon
{
  display: flex;
  
}

.closed-sidebar
{
  
  position: fixed;
  top: max(11vh,124px);
  display: flex;
  justify-content: center;
  align-items: center;
  left: -32px;
  width: 95px;
  height: 30px;
  background: linear-gradient(269.47deg, #1F1F1F -3.54%, #636363 95.28%);
border-radius: 2px;
transform: rotate(-90deg);
}
.closed-sidebarLine
{
  height: 18px;
width: 2px;

margin: 3px 2px;
background: #FF8762;
border-radius: 21px;
}
.close-result
{

  margin-right: 10px;
  width: 32px;
  padding: 4px;
  background: rgb(225, 222, 222);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 36px;
  background: #E8E8E8;
border: 1px solid #BCBCBC;
border-radius: 3px;
}

.roundTab
{
  display: flex;
  margin-left: 10px;
  border: none;
  border: white;
}
.roundBtn
{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  letter-spacing: 0.03em;
 padding: 9px 20px;
 font-size: 0.9rem;
 background: #FFFFFF;
 color: #CACACA;
 border: 1px solid #d4d1d1;
 margin-bottom: 10px;
 cursor: pointer;

}
.activeRound
{
  color: #000000;

  background: #FFFFFF;
  border: 1px solid #6272FF;
  box-shadow: 0px 1px 5px 1px rgba(98, 99, 255, 0.6);
}
.close-decide
{
  background: transparent;
  border: none;
  position: absolute;
  transform: translateX(50vw) translateY(20px);
}

.decideWindow
{
  display: flex;
  flex-wrap: wrap;
}

.team-chk{
  display: flex;
  flex-wrap: wrap;
  font-family: 'Roboto';
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin:9px 15px;
}
.team-chk>input
{
  margin-left: 5px;
}
.chk-label
{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}
.decide-bottom
{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 90%;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 12px;
}

.decideNext
{

padding: 11px 20px;
border: 1px solid #000000;
background: white;
color: #000000;
margin-right: 20px;
cursor: pointer;

}
.decideWinners
{


cursor: pointer;
padding: 10px 20px;
background: #000000;
color: #FF8762;
}
.Team-frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.team-member-post{
  font-family: 'Roboto';
  margin-top: 0.675rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

@keyframes slideInNav {
  0%{
    transform: translateX(+120%);
    opacity: 1;
  }
  100%
  {
    transform: translateX(0);
    opacity: 1;
  }

  
}
@keyframes slideOutNav {
  0%{
    transform: translateX(0);
    opacity: 1;
  }
  100%
  {
    transform: translateX(120%);
    opacity: 1;
  }
}




/* LOADER */
.loader
{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  background: black;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader-back
{
  width: 25%;
  min-width: 300px;
  aspect-ratio: 2.043;
  transform: rotate(90deg);
  
 
}
body
{
  margin:0;
}
.back{
  height: 100vh;
  width: 100%;
  background: black;
}

@keyframes fade_in_page {
  0% {
       opacity: 0;
       /* transform: scale(0);
       transform: translateY(80%); */
  }
  30%
  {
    opacity: 0.1;
  }

  100% {
       opacity: 1;
       /* transform: scale(1);
       transform: translateY(250%); */
       
  }
}

.loader-trans
{
  animation: fade_in_show 100ms;
}